<!-- Displays a message to indicate that sum was initialized -->
<p-messages [(value)]="msgs"></p-messages>

<!-- Banking operations table -->
<div class="ui-g-6">
  <p-table [columns]="cols" [value]="bankingOperations" [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" [paginator]="true" [rows]="15" [reorderableColumns]="true"
    [lazy]="false" (onLazyLoad)="loadLazy($event)" [totalRecords]="totalRecords" [loading]="loading">
    <!-- <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="'bankingOperationDate'" pReorderableColumn>
          Date
          <p-sortIcon [field]="'bankingOperationDate'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'bankingOperationLabel'" pReorderableColumn>
          Operation
          <p-sortIcon [field]="'bankingOperationLabel'"></p-sortIcon>
        </th>
        <th pReorderableColumn>Value</th>
      </tr>
    </ng-template> -->
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <!-- <ng-template let-row let-bankingOperations pTemplate="body">
      <tr (click)="selectOperationOnRowClick(row)">
        <td>
          {{bankingOperations.bankingOperationDate}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="text" [(ngModel)]="bankingOperations.bankingOperationLabel">
            </ng-template>
            <ng-template pTemplate="output">
              {{bankingOperations.bankingOperationLabel}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{bankingOperations.bankingOperationValue}}
        </td>
      </tr>
    </ng-template> -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr (click)="selectOperationOnRowClick(rowData)">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
<div class="ui-g-3" id="sum-of-operations">
  <!-- Button to initialise sum of operations -->
  <p>
    Sum of selected operations = {{ sumOfOperations }} €
  </p>

  <!-- Intiailise sum of selected operations -->
  <p>
    <button mat-stroked-button color="accent" (click)="initializeSumOfOperations()" (click)="showInfo()">
      Intialize
    </button>
  </p>

  <!-- Create a new banking category -->
  <p>
    <span class="ui-float-label">
      <input #newCategory id="float-input" type="text" size="20" pInputText (keyup.enter)="createOperationCategory(newCategory.value)"
        (blur)="createOperationCategory(newCategory.value); newCategory.value=''">
      <label for="float-input">Add a new category...</label>
      <p-button style="margin-left:2%;" (onClick)="createOperationCategory(newCategory.value)" icon="pi pi-check" label="Add"></p-button>
    </span>
  </p>

  <!-- Manage categories with PRIME NG -->
  <div *ngFor="let category of categories; let idx = index">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-radioButton #isSelectedCategory value="{{category}}" label="{{category}}" (onClick)="addOperationToSelectedCategory(isSelectedCategory.value)">
        </p-radioButton>
      </div>
    </div>
  </div>
</div>
<div class="ui-g-3">
  <!-- Fetch operations to selected category -->
  <div *ngIf="categorySelected === true">
    <p>{{ categoryName }} = {{ sumOfOperations }} €</p>
    <br>
    <br> {{ listDes }} operations pour la catégorie "{{ categoryName }}" :
    <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
      <div *ngFor="let operation of selectedOperationForCategorization">
        {{ operation.bankingOperationLabel }}
      </div>
    </p-scrollPanel>
  </div>
</div>

<!-- UBER categorization-->
<!-- <div class="ui-g-12">
      <p-button (onClick)="getUberOperations()" icon="pi pi-check" label="UBER"></p-button>
      <div *ngIf="uberCategory != null">
        <p>Sum : {{ sum }} €</p>
        <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
          <div *ngFor="let uber of uberCategory.listOfCategorizedBankingOperations">
            {{ uber.bankingOperationLabel }} : {{ uber.bankingOperationValue }}
          </div>
        </p-scrollPanel>
      </div>
    </div> -->