<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title-money-manager">
    {{ title }}
  </h1>
</div>

<div style="display:inline-block; background: #6FD36F; padding: 1%">
  <nav>
    <a routerLink="/Consultation" style="text-decoration:none; font-family: Arial; font-weight: bold; color: #FFFFFF">Compte courant</a>
  </nav>
</div>

<div style="display:inline-block; background: #766FDD; padding: 1%; font-family: Arial; font-weight: bold; color: #FFFFFF">Comptes epargne</div>

<br><br>

<router-outlet></router-outlet>
