<div>
    <h1 class="title-money-manager-angular-javaee">
        {{ title }}
    </h1>
    Manage your money !
</div>

<br/>

<div>
    <a routerLink="/table-of-bank-transactions" id="menu-links"><button pButton type="button" label="Table of bank transactions" class="ui-button-rounded ui-button-warning"></button></a>
    <a routerLink="/myAccount" id="menu-links"><button pButton type="button" label="Old transactions" class="ui-button-rounded"></button></a>
    <!-- <a routerLink="/Categorisation" id="menu-links" [appHighlight]='appHighlight'>Catégorisation</a> -->
</div>

<router-outlet></router-outlet>