/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=arial');

body {
    font-family: 'arial';
    font-size: 14px;
    background-color: rgba(170, 187, 206, 0.64)
}
